<!doctype html>
<html ng-app="uiApp">

<head>

    <!-- <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
     <link href="css/style.css" rel="stylesheet">
	

    <script src="vendor/js/angular.js"></script>



   <script src="vendor/js/angular-resource.js"></script>


    <script src="vendor/js/lodash.js"></script>
    <script src="vendor/js/xeditable.js"></script>
    
    <script src="js/app.js"></script> -->
	
	<!-- minified stuff -->
	<link href="min/e0fa49ab.production.min.css" rel="stylesheet">
    <script src="min/1ca8e628.production.min.js"></script>
</head>

<body ng-controller="MainCtrl">
	<div class="container">

		<h1 class="text-center">Table task</h1>

		
		<img src="img/spinner.gif" ng-hide="dataSet"/>
		
		

		<div class="alert alert-danger" ng-show="errorContainer.length">
			<h3>{{errorContainer}}</h3>
		</div>

		<div class="alert alert-success" ng-show="allDone">
			<h3>Good job!</h3>
			<p>The task is complete.</p>
		</div>
		
		<div ng-show="!errorContainer.length && !allDone">
			<!-- sample data --> 
			<div ng-hide="hasAssignment">
				
				<div class="well">
					<p>{{sampleData.upperTask}}</p>
				</div>

				<div class="table-responsive">
					<table class="table table-striped" >
					  <th ng-repeat="header in sampleData.dataSet.table.headers">
					    	{{header}}
					  </th>
			
					  <th ng-show="canDelete">
					  </th>
				 		
					  
					  <tr ng-repeat="row in sampleData.dataSet.table.rows" ng-hide="row === null">

						    <td ng-repeat="cell in row">
						      <a href="#" editable-text="cell" onaftersave="canNotSave()">
						        {{cell}}
						      </a>
						    </td>
						   
						    <td ng-show="canDelete">

						        <a href="#" class="danger" ng-click="canNotSave()">
						            remove
						        </a>
						        
						    </td>

					  </tr>
					</table>
					<p class="danger" ng-show="smallErrorContainer.length">{{smallErrorContainer}}</p>

					<p class="well" ng-bind-html="sampleData.dataSet.lowerTask | to_trusted"></p>
				</div>
				<hr>
				<p>Please note, that you can just take a HIT of this type once. If have already finished a HIT like this, you won't be able to take another one.</p>

			</div>

			<!-- real data -->
			
			<div ng-show="hasAssignment">

				<div class="well">
					<p>{{dataSet.upperTask}}</p>
				</div>
				<div class="table-responsive">
					<table class="table table-striped" >
					  <th ng-repeat="header in dataSet.table.headers">
					    	{{header}}
					  </th>
			
					  <th ng-show="canDelete">
					  </th>
				 		
					  
					  <tr ng-repeat="row in dataSet.table.rows" ng-hide="row === null">

						    <td ng-repeat="cell in row">
						      <a href="#" editable-text="cell" onaftersave="updateRow($index, $parent.$parent.$index, $parent.cell)">
						        {{cell || 'empty'}}
						      </a>
						    </td>
						   
						    <td ng-show="canDelete">

						        <a href="#" class="danger" ng-click="deleteItem(row)">
						            remove
						        </a>
						        
						    </td>

					  </tr>
					</table>
					<p class="danger" ng-show="smallErrorContainer.length">{{smallErrorContainer}}</p>
				</div>

				<p class="well" ng-bind-html="dataSet.lowerTask | to_trusted"></p>

				

			</div>
			<div class="text-center">
					<button class="btn btn-primary" ng-click="sendAll()">Send your data</button>
				</div>
		</div>

		

	</div>
</body>

</html>